<h1>Aulas de diretivas de atributos</h1>

<div *ngIf="!disableDivsCheckbox">
  <h2>ngClass</h2>

  <p [ngClass]="{ 'active': valor, 'disabled': !valor }">
    Teste
  </p>
  
  <h2>ngStyle</h2>
  
  <div [ngStyle]="{ height: '50px' }">
    <p [ngStyle]="{ 'height': altura, 'border': '1px solid black' }">
      Teste
    </p>
  </div>
</div>

<h2>ngModel</h2>

<input [(ngModel)]="model1" placeholder='Este input adiciona coisas à lista model1List' />
<div>{{ model1 }}</div>

<button (click)="saveModel1()">Salvar</button>

<ul>
  <li *ngFor="let item of model1List">{{ item['name'] }}</li>
</ul>

<label for="disableDivsCheckbox">Desabilitar divs superiores</label>
<input [(ngModel)]="disableDivsCheckbox" type="checkbox" id="disableDivsCheckbox" name="disableDivsCheckbox" />

<h2>Aula sobre ng-template</h2>

<ng-template [ngIf]='true'>
  <p>O ng-template não aparece se estiver sem nenhuma configuração (se estiver só com as tags, sem um "ngIf", "ngFor" ou algo parecido.</p>
</ng-template>

<p>O ngFor precisa ser escrito de forma um pouco diferente para funcionar diretamente no ng-template</p>

<ng-template ngFor let-item [ngForOf]='model1List'>
  <p>{{ item['name'] }}</p>
</ng-template>