<p *ngIf="condition; else elseContainer">Teste</p>

<ng-template #elseContainer>
  <p>Segundo teste</p>
</ng-template>

<hr>

<p *ngIf="conditionClick">Teste do click (ativo)</p>
<p *ngIf="!conditionClick">Teste do click (desativado)</p>

<button (click)="onClick()">Inverter</button>
<button (click)="conditionClick = !conditionClick">Inverter (simples)</button>

<hr>

<ul>
  <li *ngFor="let item of list; let i = index" (click)="onClickEventList(i)">
    [ {{ i }} ] - Nome: {{ item.nome }} - Idade: {{ item.idade }}
  </li>
</ul>

<button (click)="onClickAddList()">Adicionar</button>